/*@font-face {
    font-family: 'robotothin';
    src: url('fuentes/Roboto-Thin-webfont.eot');
    src: url('fuentes/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/Roboto-Thin-webfont.woff') format('woff'),
         url('fuentes/Roboto-Thin-webfont.ttf') format('truetype'),
         url('fuentes/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

body
{
	font-family: 'robotothin';
	font-size: 16px;
	background: #EEEEEE;
	
}
#barraheader
{
	box-shadow: rgba(0,0,9,0.6) 0px 3px 3px;
	background: #000000;
	padding: 0;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 43em;
	margin: 0;
	top: 0;


}
#contenido_header
{
	
	
	height: 10em;
	width: 960px;
	margin: 0 auto;
	position: relative;
}
header
{
	/*box-shadow: rgba(0,0,0,0.7) 0px 8px 7px;
	background: #2b2a2a;*/
	border-bottom: 1px solid rgb(46, 46, 46);
	padding: 0;
	overflow: hidden;
	position: absolute;
	top: -2em;
	/*position: absolute;
	background: #2b2a2a;
	padding: 2em;
	overflow: hidden;*/
}
/*
#yo
{
	float: left;
}

div 
{
	width: 100px;
	height: 100px;
	background-image: url('imagenes/acerca de mi.png');
	background-size: 100px;
	background-repeat: no-repeat;

}
header #yo:hover
{
	background-image: url('imagenes/ilustracion.png');
	background-size: 100px;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	-webkit-transition:1s;
}*/
div #yo, #web, #ilustracion, #impresos, #contacto
{
	float: left;
	margin-left: 3.8em;
	 
}
header #yo:hover
{
	background-image: url('imagenes/acerca de mi_hover.png');
	background-size: 105px;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	-webkit-transition:0.5s;
}
div #yo
{
	width: 100px;
	height: 100px;
	background-image: url("imagenes/acerca de mi.png");
	background-size: 100px;
	background-repeat: no-repeat;
	-webkit-transition:0.5s;
	

}
header #web:hover
{
	background-image: url('imagenes/web_hover.png');
	background-size: 105px;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	-webkit-transition:0.5s;
}
div #web
{
	width: 100px;
	height: 100px;
	background-image: url("imagenes/web.png");
	background-size: 91px;
	background-repeat: no-repeat;
	margin-left: 5.6em;
	-webkit-transition:0.5s;

}
header #ilustracion:hover
{
	background-image: url('imagenes/ilustracion_hover.png');
	background-size: 105px;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	-webkit-transition:0.5s;
}
div #ilustracion
{
	width: 100px;
	height: 100px;
	background-image: url("imagenes/ilustracion.png");
	background-size: 100px;
	background-repeat: no-repeat;
	margin-left: 5em;
	-webkit-transition:0.5s;
}
header #impresos:hover
{
	background-image: url('imagenes/impresos_hover.png');
	background-size: 105px;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	-webkit-transition:0.5s;
}
div #impresos
{
	width: 100px;
	height: 100px;
	background-image: url("imagenes/impresos.png");
	background-size: 100px;
	background-repeat: no-repeat;
	margin-left: 4.4em;
	-webkit-transition:0.5s;
}
header #contacto:hover
{
	background-image: url('imagenes/contacto_hover.png');
	background-size: 105px;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	-webkit-transition:0.5s;
}
div #contacto
{
	width: 100px;
	height: 100px;
	background-image: url("imagenes/contacto.png");
	background-size: 100px;
	background-repeat: no-repeat;
	margin-left: 4em;
	-webkit-transition:0.5s;
}
nav a 
{
	font-family: "roboto";
	font-size:1em;
	color: white;
	font-weight: lighter;
	text-decoration: none;


}
ul
{
	list-style: none;
}
ul li
{
	display: inline-block;
	margin-right: 5em;
	margin-left: 1.3em;
}
section 
{
	margin: 0;
	padding: 0;
}
article #img_contenido1
{
	float: left;
	

}
figure img
{
	width: 600px;
	margin-top: 11em;
	margin-left: -2em;
	
}
h1
{
	position: relative;
	color: white;
	font-weight: 100;
	font-family: 'roboto';
	top: 2.9em;
	right: 1.2em;
	font-size: 3.5em;
}
article #perfil
{
	
	display: inline-block;
	position: relative;
	top: -23em;
	color: white;
	width: 23em;
	left: 31em;
	font-family: 'roboto';
	font-weight: 100;
	font-size: 1em;
	text-align: justify;
}
#contenido_web
{
	background: #EEEEEE;
	width: 100%;
	height: 20em;
	margin: 0;
	padding: 0;
	position: relative;
	top: -12em;
	height: 668px;
}

article #img_web img
{
	width: 250px;
}
figure #icono_web
{
	
	position: relative;
	top:-9em;
}
h2
{
	font-family: 'roboto';
	font-size: 3em;
	font-weight: 200;
	position: relative;
	top: -9em;
	right: -10em;
	color: rgb(79, 79, 79);
}
article #parrafo_web
{
	font-family: 'roboto';
	font-weight: 100;
	position: relative;
	top: -28em;
	text-align: justify;
	width: 36em;
	left: 19em
}
/*ESTILOS NAV*/
/*ul li #contacto_text
{
	margin-left: 1em;
}
*/





/*nav
{
	position: relative;
	display: inline-block;
	font-family: "Roboto";
}
nav ul li
{
	display: inline-block;
	margin-right: 10em;
	margin-left: 1.1em;
}
nav ul li a
{
	color: white;
	font-weight: lighter;
	font-size: 1.2em;
	text-decoration: none;	
}
ul li #contacto_text:hover
{
	color:white;
}
ul li #contacto_text
{
	color:#e02f2f;
	margin-left: 10em;
	float: right;
	margin-top: -2em;
}
ul li #ilustracion_text:hover
{
	color:white;
}
ul li #ilustracion_text
{
	color: #f7a02d;
}
ul li #yo_text
{
	color: #2ba1f9;
}
ul li #yo_text:hover
{
	color:white;
}
ul li #web_text:hover
{
	color: white;
}
ul li #web_text
{
	color: #74c600;
	margin-left: -0.em;

	/*padding-top: 6em;*/
	/*
}
ul li #impresos_text:hover
{
	color: white;
}
ul li #impresos_text
{
	margin-left: -0.3em;
	color: #a82df7;
	color: #a82df7;
}
*/