body
{
	font-family: arial;
	font-size:16px;
}
header 
{
	box-shadow: rgba(0,0,0,0.7) 0px 8px 7px;
	background: #2b2a2a;
	padding: 0;
	overflow: hidden;
	position: absolute;
	width: 100%;
}
figure
{
	border:1px solid red;
	float: left;
}
figure img
{
	width: 100px;
}
nav ul li a
{
	text-decoration: none;
}
nav ul li
{
	display: inline-block;
	margin-right: 10em;
	margin-left: 1.5em;
}
nav ul
{
	list-style: none;

}
nav
{
	position: relative;
}
#yo 
{
	margin-right: 8em;
	margin-left: 4em
}
#web
{
	margin-right: 8em;
}
#ilustracion
{
	margin-right: 8em;
}
#impresos
{
	margin-right: 8em;
}
#contacto
{
	margin-left: 4em;
}